body {
  font-size: 24px;
  font-family: "Gotham Pro";
  font-weight: 400;
  color: #40474E;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #40474E;
}

i:before {
  font-style: normal;
  cursor: pointer;
}

.wrapper {
  max-width: 1470px;
  margin: 0 auto;
}

.body-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: flex-start;
}

@font-face {
  font-family: "icomoon";
  src: url("./../fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-],
[class*=" _icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-lupa :before {
  content: "\e914";
  opacity: 0.2;
}

._icon-Arrowleft:before {
  content: "\e900";
}

._icon-ArrowRigth:before {
  content: "\e901";
}

._icon-download:before {
  content: "\e902";
}

._icon-eye:before {
  content: "\e903";
}

._icon-heart:before {
  content: "\e905";
}

._icon-lupa1:before {
  content: "\e907";
}

._icon-man:before {
  content: "\e90d";
}

._icon-massage:before {
  content: "\e90e";
}

._icon-teres:before {
  content: "\e910";
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

header {
  margin-bottom: 3px;
}

header .header__logo img {
  height: 95%;
}

header .menu__button {
  display: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  list-style-type: none;
  margin-left: 34px;
}

header .menu li {
  padding-top: 11px;
  padding-bottom: 16px;
  margin-right: 40px;
}

header .menu li a,
header .menu li div {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
}

header .menu li a:hover {
  color: #AA182C;
}

header .menu li div:hover {
  color: #AA182C;
}

header .menu li:first-child {
  border: 1px #AA182C solid;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 76px;
  text-align: center;
  width: 158px;
  height: 38px;
}

header .menu li:first-child a {
  display: inline-block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  padding-top: 15px;
  padding-bottom: 8px;
}

header .menu li:last-child {
  position: relative;
  margin-right: 0;
  cursor: pointer;
}

header .menu li:last-child p {
  display: none;
  position: absolute;
  margin-top: -3px;
  left: -12px;
  padding: 15px 10px 0px 10px;
  background-color: #fff;
}

header .menu li:last-child img {
  width: 10px;
  padding: 5px;
  position: absolute;
}

header .menu li:last-child .visible {
  display: block;
}

header .menu li:last-child div {
  display: inline-block;
  cursor: pointer;
  width: 36px;
}

header .menu li:last-child span {
  position: relative;
}

header .menu .mark span {
  color: #AA182C;
}

header .icons {
  margin-left: 70px;
  margin-top: 35px;
  font-family: "icomoon";
  font-style: normal;
}

header .icons i {
  margin-right: 17px;
}

header .icons i:hover {
  color: #AA182C;
}

header .icons i:last-child {
  margin-right: 0;
}

header .icons i:before {
  font-style: normal;
  cursor: pointer;
}

header .icons .heart {
  position: relative;
}

header .icons .heart span {
  position: absolute;
  top: -4px;
  left: 24px;
  z-index: 2;
  font-weight: 600;
  font-size: 8px;
  line-height: 130%;
  color: #fff;
  letter-spacing: 1px;
}

header .icons .lupa:before {
  content: "\e907";
  font-size: 19px;
}

header .icons .teresa:before {
  content: "\e910";
  font-size: 22px;
}

header .icons .heart:before {
  content: "\e905";
  font-size: 20px;
}

header .icons .heart:after {
  display: block;
  height: 15px;
  width: 15px;
  background-color: #AA182C;
  -webkit-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  transform: rotate(105deg);
  position: absolute;
  top: -6px;
  left: 22px;
  z-index: 1;
  content: "";
}

header .icons .man:before {
  content: "\e90d";
  font-size: 20px;
}

header .wrapper .open {
  display: block;
  position: absolute;
  margin: 0;
  top: 81px;
  left: -11px;
  z-index: 2;
}

.main-slider {
  position: relative;
  margin-top: -9px;
  overflow: hidden;
}

.main-slider .line {
  border-bottom: 1px #CFDAE3 solid;
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 1;
}

.main-slider .main-slider__text {
  width: 73%;
  position: absolute;
  top: 382px;
  left: 11.5%;
  z-index: 1;
}

.main-slider .main-slider__text-header {
  font-size: 86px;
  font-weight: 400;
  line-height: 114%;
  color: #fff;
  letter-spacing: 1px;
  max-width: 875px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-slider .main-slider__text-description {
  font-size: 30px;
  line-height: 140%;
  max-width: 515px;
  color: #fff;
}

.main-slider .main-slider__text-icons {
  position: absolute;
  top: -19px;
  right: -72px;
}

.main-slider .main-slider__text-icons div {
  margin-bottom: 25px;
}

.main-slider .main-slider__text-icons div a {
  display: inline-block;
}

.main-slider .main-slider__text-icons div img {
  width: 27px;
  vertical-align: bottom;
  height: 100%;
}

.main-slider .main-slider__text-icons .youtube img {
  width: 32px;
}

.main-slider .main-slider__text-switch {
  position: absolute;
  bottom: -36%;
  right: calc(50% - 52px);
  height: 47px;
  width: 26px;
  border-radius: 40%;
  border: 1px #F9F9FA solid;
}

.main-slider .main-slider__text-switch .tumbler {
  position: absolute;
  top: 11px;
  left: calc(50% - 1px);
  width: 3px;
  height: 7px;
  background-color: #F9F9FA;
}

.main-slider .main-slider__body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.main-slider .main-slider__body .main-slider__body-slide {
  width: 100%;
}

.main-slider .main-slider__body .main-slider__body-slide img {
  width: 100%;
  height: 100%;
}

.main-slider .main-slider__body .slick-dots {
  position: absolute;
  bottom: 77px;
  left: 222px;
  width: 72px;
  height: 22px;
}

.main-slider .main-slider__body .slick-dots li {
  vertical-align: middle;
  height: 5px;
  width: 5px;
  background-color: #F9F9FA;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.main-slider .main-slider__body .slick-dots li button {
  opacity: 0;
}

.main-slider .main-slider__body .slick-dots .slick-active {
  height: 14px;
  width: 14px;
  background-color: inherit;
  border: 1px #F9F9FA solid;
}

.main-slider .main-slider__body .slick-arrow {
  top: 91%;
  width: 39px;
  z-index: 1;
}

.main-slider .main-slider__body .slick-next:before {
  display: none;
}

.main-slider .main-slider__body .slick-prev:before {
  content: "";
  height: 34px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: -11px;
  left: 172%;
}

.main-slider .main-slider__body .slick-next:after,
.main-slider .main-slider__body .slick-prev:after {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  color: #fff;
  top: 6px;
}

.main-slider .main-slider__body .slick-next:after {
  content: "\e901";
  left: 15px;
}

.main-slider .main-slider__body .slick-prev:after {
  content: "\e900";
  left: -2px;
}

.main-slider .main-slider__body .slick-prev {
  left: 81%;
}

.main-slider .main-slider__body .slick-next {
  left: 86%;
}

.main-slider .main-slider__body .slick-prev:hover:after,
.main-slider .main-slider__body .slick-next:hover:after {
  color: #AA182C;
}

.fitness-slider {
  margin-bottom: 114px;
  position: relative;
  overflow: hidden;
}

.fitness-slider__header {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  margin-left: 226px;
  margin-top: 119px;
  margin-bottom: 78px;
}

.fitness-slider__header:after {
  content: "";
  width: 200px;
  border-bottom: 1px solid #8D9AA5;
  position: absolute;
  top: 8px;
  left: 219px;
}

.fitness-slider__show {
  width: 1070px;
}

.fitness-slider__show .img-wrapper {
  width: 100%;
  overflow: hidden;
  max-height: 805px;
}

.fitness-slider__show .img-wrapper a {
  width: 100%;
  height: 100%;
}

.fitness-slider__show .fitness-slider__show-img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.fitness-slider__lupa {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 250, 0.3);
  top: 695px;
  left: 187px;
}

.fitness-slider__lupa img {
  position: absolute;
  top: 29px;
  left: 29px;
  height: 58%;
}

.fitness-slider .fitness-slider__body-wrapper {
  position: absolute;
  width: 1150px;
  bottom: 62px;
  left: 970px;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body {
  width: 1100px;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body img {
  height: 100%;
  cursor: pointer;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-current img {
  cursor: default;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-arrow {
  position: absolute;
  top: -463px;
  width: 32px;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev {
  left: 55.5%;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next {
  left: 62%;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next:before {
  content: "\e901";
  left: 0;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev:before {
  content: "\e900";
  left: 4px;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next:before,
.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev:before {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  color: #fff;
  top: 0px;
  color: #40474E;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev:hover:before,
.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next:hover:before {
  color: #AA182C;
}

.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next:after,
.fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev:after {
  content: "";
  position: absolute;
  top: -23px;
  height: 52px;
  width: 52px;
  border: 1px #98A4AE solid;
  left: -10px;
}

.fitness-slider__body {
  max-width: 1300px;
}

.fitness-slider__description {
  padding-left: 82px;
}

.fitness-slider__description-button {
  color: #6B97BB;
  width: 284px;
  border: 1px #6B97BB solid;
  text-align: center;
  margin-bottom: 82px;
  position: relative;
}

.fitness-slider__description-button a {
  display: inline-block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
}

.fitness-slider__description-header {
  width: 99%;
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
  margin-bottom: 43px;
}

.fitness-slider__description-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  width: 60%;
}

.fitness-slider__description-text p {
  margin-bottom: -8px;
}

.blog {
  padding-top: 121px;
  padding-bottom: 112px;
  background-color: #F9F9FA;
  position: relative;
}

.blog__header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 68px;
}

.blog__header .blog__header-title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  margin-top: 17px;
}

.blog__header .blog__header-title:after {
  content: "";
  width: 200px;
  border-bottom: 1px solid #8D9AA5;
  position: absolute;
  top: 8px;
  right: -240px;
}

.blog__header .blog__header-button {
  color: #6B97BB;
  width: 258px;
  border: 1px #6B97BB solid;
  text-align: center;
}

.blog__header .blog__header-button a {
  display: inline-block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
}

.blog .wrapper {
  height: 637px;
}

.blog .blog__body-wrapper {
  position: absolute;
  width: 1709px;
  top: 125px;
  left: 216px;
}

.blog .blog__body-wrapper .blog__body {
  width: 2050px;
}

.blog .blog__body-wrapper .blog__body .blog__slide {
  margin-right: 10px;
  width: 400px;
  display: inline-block;
}

.blog .blog__body-wrapper .blog__body-item-wrapper {
  width: 380px;
  padding: 10px;
  margin-right: 10px;
}

.blog .blog__body-wrapper .blog__body-item {
  border: 1px #CFDAE3 solid;
}

.blog .blog__body-wrapper .blog__body-item .item-text-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 130%;
}

.blog .blog__body-wrapper .blog__body-item img {
  width: 380px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 21px;
}

.blog .blog__body-wrapper .blog__body-item .flex-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info {
  margin-bottom: 20px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info div a {
  display: inline-block;
  padding: 5px 11px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info div .news {
  background-color: #CFDAE3;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info div .article {
  background-color: #D9D4D4;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info .blog__body-item-info-date {
  margin-top: 5px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info-text {
  font-size: 20px;
  line-height: 120%;
  text-transform: none;
  margin-bottom: 13px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-info-text a:hover {
  color: #6B97BB;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-icons {
  margin-bottom: 10px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-icons span {
  margin-left: 22px;
  position: relative;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-icons span:last-child {
  margin-left: 30px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-icons span:before {
  position: absolute;
  font-family: "icomoon";
  font-size: 14px;
  line-height: 16px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-icons .viewing:before {
  position: absolute;
  content: "\e903";
  left: -21px;
}

.blog .blog__body-wrapper .blog__body-item .blog__body-item-icons .coment:before {
  position: absolute;
  content: "\e90e";
  left: -21px;
}

.blog .blog__body-wrapper .blog__body-item-wrapper:hover {
  padding: 9px;
  border: 1px #CFDAE3 solid;
}

.instagram {
  padding-top: 116px;
  background-color: rgba(207, 218, 227, 0.3);
  padding-bottom: 100px;
}

.instagram .instagram-wrapper {
  width: 900px;
  margin: 0 auto;
}

.instagram .instagram__header {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 77px;
}

.instagram .instagram__header::after,
.instagram .instagram__header::before {
  content: "";
  width: 200px;
  border-bottom: 1px solid #8D9AA5;
  position: absolute;
  top: 8px;
  position: absolute;
}

.instagram .instagram__header::after {
  left: 21px;
}

.instagram .instagram__header::before {
  right: 21px;
}

.instagram .instagram__body {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.instagram .instagram__body img {
  height: 100%;
  vertical-align: bottom;
}

.instagram .instagram__body-item {
  margin: 0px 10px 20px 10px;
}

.instagram .instagram__body-info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 69px;
  width: 100%;
  min-width: 280px;
  height: 100%;
  background-color: #fff;
}

.instagram .instagram__body-info-circle {
  margin: auto;
  height: 50px;
  width: 50px;
  background-color: #40474E;
  border-radius: 50%;
  position: relative;
}

.instagram .instagram__body-info-circle img {
  position: absolute;
  top: 0px;
  left: 11px;
}

.instagram .instagram__body-info-name {
  text-align: center;
  margin-top: 17px;
}

.instagram .instagram__body-info-button {
  color: #F9F9FA;
  width: 178px;
  border: 1px #F9F9FA solid;
  text-align: center;
  background-color: #6B97BB;
  margin: auto;
  margin-top: 19px;
}

.instagram .instagram__body-info-button a {
  display: inline-block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  padding-top: 18px;
  padding-bottom: 12px;
}

.question {
  padding-top: 122px;
  padding-bottom: 111px;
  background-color: #F9F9FA;
  position: relative;
  overflow: hidden;
}

.question .question__form {
  position: absolute;
  width: 492px;
  padding: 80px 137px 105px 112px;
  background-color: #fff;
  top: 217px;
  right: 340px;
}

.question .question__form-header {
  font-size: 44px;
  line-height: 130%;
}

.question .question__form p {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  padding-right: 20px;
  margin-bottom: 25px;
}

.question .question__form input,
.question .question__form textarea {
  width: 100%;
  height: 50px;
  border: 1px #CFDAE3 solid;
  margin-bottom: 12px;
}

.question .question__form textarea {
  height: 96px;
  margin-bottom: 15px;
}

.question .question__form ::-webkit-input-placeholder {
  color: #98A4AE;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.question .question__form ::-moz-placeholder {
  color: #98A4AE;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.question .question__form :-moz-placeholder {
  color: #98A4AE;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.question .question__form :-ms-input-placeholder {
  color: #98A4AE;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.question .question__form button {
  background-color: #6B97BB;
  display: inline-block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  color: #fff;
  width: 470px;
  border: 1px #fff solid;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  -moz-text-align-last: left;
  text-align-last: left;
  padding-left: 30px;
  position: relative;
}

.question .question__form button:after {
  content: "\e901";
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  color: #fff;
  top: 17px;
  right: 21px;
}

.question .question__form:after {
  content: "";
  width: 690px;
  height: 690px;
  border: 1px #CFDAE3 solid;
  position: absolute;
  top: 16px;
  right: 20px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  pointer-events: none;
}

.footer {
  background-color: #6A737A;
  padding-top: 83px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 120%;
}

.footer .footer__item-wrapper {
  margin-bottom: 55px;
}

.footer__item {
  width: 180px;
  padding-top: 3px;
}

.footer__item p {
  margin-bottom: -6px;
}

.footer__item-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.footer__item ul {
  padding-left: 0px;
}

.footer__item ul li {
  margin-bottom: 10px;
}

.footer__item a {
  color: #fff;
  font-size: 14px;
  line-height: 120%;
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer .footer__item-button > div {
  color: #fff;
  width: 241px;
  border: 1px #fff solid;
  text-align: center;
  -moz-text-align-last: left;
  text-align-last: left;
  padding-left: 20px;
  position: relative;
}

.footer .footer__item-button > div a {
  display: inline-block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  padding-top: 18px;
}

.footer .footer__item-button > div a:hover {
  text-decoration: none;
}

.footer .footer__item-button .see {
  margin-bottom: 23px;
  background-color: #6B97BB;
  border: 1px #6B97BB solid;
}

.footer .footer__item-button .see:after {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  color: #fff;
  top: 14px;
  content: "\e901";
  right: 20px;
}

.footer .footer__item-button .download:after {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  color: #fff;
  top: 14px;
  content: "\e902";
  right: 26px;
  font-size: 15px;
}

.footer .footer__item-logo {
  margin-right: 73px;
}

.footer .footer__item-logo > img {
  margin: 0;
  vertical-align: bottom;
}

.footer .footer__item-logo .item-logo-icons {
  padding-top: 40px;
}

.footer .footer__item-logo .item-logo-icons img {
  width: 20px;
  height: 100%;
}

.footer .footer__item-logo .item-logo-icons span {
  margin-right: 25px;
  cursor: pointer;
}

.footer .footer__item-logo .item-logo-icons span:last-child {
  margin-right: 0;
}

.footer .footer__item-logo .footer__button {
  display: none;
}

.footer .footer__item-nav {
  margin-right: 16px;
}

.footer .footer__item-contact {
  margin-right: 78px;
}

.footer .footer__item-contact > div:first-child {
  margin-bottom: 67px;
}

.footer .footer__item-brend {
  margin-right: 20px;
}

.footer .footer__item-contact-administration {
  margin-right: 121px;
}

.footer .footer__item-contact-administration ul {
  margin-bottom: 33px;
}

.footer .copiright {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .copiright .language {
  margin-left: 178px;
}

.footer .copiright .language a {
  font-size: 14px;
  line-height: 121%;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-right: 12px;
  position: relative;
}

.footer .copiright .language a:last-child {
  margin-right: 0;
}

.footer .copiright .language a:after {
  content: "";
  height: 10px;
  border-right: 1px #fff solid;
  position: absolute;
  left: 30px;
  top: 2px;
  opacity: 1;
}

.footer .copiright .language a:last-child::after {
  display: none;
}

.footer .copiright .language .active {
  color: #fff;
}

@media (min-width: 1920px) {
  .body-wrapper {
    width: 1920px;
  }
}

@media (max-width: 1850px) {
  .main-slider__text-switch {
    display: none;
  }

  .body-wrapper {
    width: 100%;
  }

  .slick-dots {
    bottom: 43px;
  }
}

@media (max-width: 1730px) {
  .fitness-slider .fitness-slider__description-button {
    margin-bottom: 17px;
  }

  .fitness-slider .body-wrapper {
    width: 98%;
  }

  .fitness-slider .fitness-slider__show {
    width: 60%;
  }

  .fitness-slider .fitness-slider__show .img-wrapper a {
    max-width: 100%;
  }

  .fitness-slider .fitness-slider__show .fitness-slider__show-img {
    max-width: 100%;
  }

  .fitness-slider .fitness-slider__body-wrapper {
    bottom: 4%;
    left: 46%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body-button {
    position: absolute;
    top: -76px;
    left: 296px;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-arrow {
    top: -19%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next {
    left: 34%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev {
    left: 28%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body img {
    width: 90%;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-header {
    width: 85%;
    font-size: 40px;
    margin-bottom: 15px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-text {
    width: 85%;
    font-size: 16px;
  }

  .blog .blog__body-wrapper {
    top: 125px;
    left: 0px;
  }

  .main-slider .main-slider__text {
    top: 30%;
    left: 5%;
  }

  .main-slider .main-slider__text .main-slider__text-header {
    font-size: 54px;
  }

  .main-slider .main-slider__text .main-slider__text-description {
    font-size: 25px;
  }

  .main-slider .main-slider__text .main-slider__text-icons {
    right: -22%;
  }
}

@media (max-width: 1560px) {
  .fitness-slider .fitness-slider__description {
    padding-left: 45px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-header {
    width: 100%;
    font-size: 38px;
  }

  .fitness-slider .fitness-slider__body-wrapper {
    bottom: 4%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body-button {
    top: -28%;
    left: 47%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body-button div {
    height: 35px;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body {
    width: 70%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-arrow {
    top: -15%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next {
    left: 77%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev {
    left: 68%;
  }

  .fitness-slider__lupa {
    width: 80px;
    height: 80px;
    top: 59%;
    left: 10%;
  }

  .fitness-slider__lupa img {
    width: 40px;
    top: 20px;
    left: 20px;
  }

  header .flex-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  header .menu {
    padding-left: 0;
  }

  header .menu li {
    margin-right: 21px;
  }

  header .menu .mark {
    margin-right: 23px;
  }

  header .menu li:first-child {
    margin-right: 23px;
  }

  .main-slider .main-slider__body .slick-prev:before {
    left: 142%;
  }

  .blog .blog__header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer .footer__item {
    margin-right: 30px;
    width: 15%;
  }

  .footer .footer__item-button > div {
    width: 93%;
  }

  .footer .footer__item-button > div:after {
    display: none;
  }
}

@media (max-width: 1300px) {
  .fitness-slider .fitness-slider__description .fitness-slider__description-header {
    font-size: 36px;
  }

  .fitness-slider .fitness-slider__body-wrapper {
    width: 100%;
    position: static;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body {
    width: 100%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-arrow {
    top: -28%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next {
    left: 70%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev {
    left: 64%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body-button {
    top: 61%;
    left: auto;
    right: 25%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body-button div {
    height: 52px;
  }

  header .wrapper {
    display: block;
  }

  header .menu {
    padding: 0;
    padding-left: 97px;
  }

  header .menu li {
    margin-right: 1.5%;
  }

  header .menu li:first-child {
    width: 120px;
  }

  header .menu li:last-child p {
    display: none;
    margin-top: 0px;
    left: 50%;
    padding: 10px 15px;
    background-color: #98A4AE;
  }

  header .icons {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 119px;
    position: absolute;
    right: 0px;
    top: 16px;
  }

  header .icons a {
    margin-left: 5px;
    margin-bottom: 10px;
  }

  header .header__logo {
    position: absolute;
    top: 0px;
    left: 11px;
  }

  .blog .body-wrapper .blog__body {
    width: 1191px;
  }

  .question .wrapper {
    text-align: center;
  }

  .question .question__form {
    left: calc(50% - 368px);
  }

  .footer .footer__item-button > div a {
    font-size: 10px;
  }
}

@media (max-width: 1140px) {
  .fitness-slider .fitness-slider__show {
    width: 100%;
  }

  .fitness-slider .fitness-slider__show .img-wrapper {
    max-width: 94%;
    margin: 0 auto;
  }

  .fitness-slider .fitness-slider__lupa {
    display: none;
  }

  .fitness-slider__header {
    margin-left: 85px;
  }

  .fitness-slider .body-wrapper > .flex-container {
    display: block;
  }

  .fitness-slider .fitness-slider__description {
    margin-top: 200px;
  }

  .fitness-slider .fitness-slider__description p {
    margin-bottom: 0;
  }

  .fitness-slider .fitness-slider__body-wrapper {
    position: absolute;
    bottom: 22%;
    left: 2%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body-button {
    display: none;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-arrow {
    top: -88%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next {
    left: 60%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev {
    left: 50%;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev:before,
  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next:before {
    color: #fff;
  }

  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-next:after,
  .fitness-slider .fitness-slider__body-wrapper .fitness-slider__body .slick-prev:after {
    display: none;
  }

  .main-slider {
    margin-top: 0;
  }

  .main-slider .main-slider__body .slick-prev:before {
    left: 117%;
  }

  .main-slider .main-slider__body .slick-dots {
    bottom: 45px;
  }

  header {
    margin-top: 0;
  }

  header .menu {
    display: block;
    width: 70%;
  }

  header .menu li {
    text-align: center;
    border: 1px #000 solid;
    margin-left: 0;
    background-color: #98A4AE;
    width: 100%;
    padding: 0;
  }

  header .menu li a,
  header .menu li div {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header .menu .mark {
    margin: 0;
  }

  header .menu .mark span {
    color: #000;
  }

  header .menu a:hover {
    color: #40474E;
  }

  header .menu li:hover {
    background-color: #AA182C;
  }

  header .menu li:hover a {
    color: #fff;
  }

  header .menu li:first-child:hover a {
    color: #40474E;
  }

  header .menu li:first-child {
    width: 100%;
    margin: 0;
    background-color: #fff;
  }

  header .menu li:first-child a {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  header .menu li:last-child:hover {
    color: #fff;
  }

  header .menu li:last-child div:hover {
    color: #fff;
  }

  header .menu li:last-child p:hover {
    color: #40474E;
  }

  header .icons {
    width: 50px;
    right: 10px;
  }

  header .icons i {
    margin-bottom: 25px;
  }

  .blog .blog__header-title:after {
    display: none;
  }

  .instagram .instagram-wrapper {
    width: 610px;
  }

  .instagram .instagram-wrapper .instagram__body {
    width: 100%;
    margin: 0 auto;
  }

  .instagram .instagram-wrapper .instagram__header::after,
  .instagram .instagram-wrapper .instagram__header::before {
    display: none;
  }

  .question .wrapper {
    overflow: hidden;
  }

  .footer .footer__item-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 12%;
  }

  .footer .footer__item-wrapper .footer__item {
    width: 25%;
    margin-top: 30px;
  }

  .footer .footer__item-wrapper .footer__item-button > div {
    width: 145px;
  }
}

@media (max-width: 840px) {
  .question .wrapper {
    padding-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .question .wrapper img {
    width: 100%;
  }

  .question .question__form {
    width: 60%;
    left: 11%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .question .question__form .question__form-header {
    font-size: 38px;
  }

  .question .question__form button {
    width: 70%;
  }

  .main-slider .main-slider__text .main-slider__text-header {
    font-size: 30px;
  }

  .main-slider .main-slider__text .main-slider__text-description {
    font-size: 14px;
  }

  .fitness-slider__body-wrapper {
    display: none;
  }

  .fitness-slider .fitness-slider__show .slick-arrow {
    position: absolute;
    top: 66%;
    width: 32px;
  }

  .fitness-slider .fitness-slider__show .slick-prev {
    left: 45%;
    z-index: 1;
  }

  .fitness-slider .fitness-slider__show .slick-next {
    left: 56%;
  }

  .fitness-slider .fitness-slider__show .slick-next:before {
    content: "\e901";
    left: 0;
  }

  .fitness-slider .fitness-slider__show .slick-prev:before {
    content: "\e900";
    left: 4px;
  }

  .fitness-slider .fitness-slider__show .slick-next:before,
  .fitness-slider .fitness-slider__show .slick-prev:before {
    font-family: "icomoon";
    font-size: 12px;
    position: absolute;
    color: #fff;
    top: 6px;
    color: #fff;
  }

  .fitness-slider .fitness-slider__show .slick-prev:hover:after,
  .fitness-slider .fitness-slider__show .slick-next:hover:after {
    color: #AA182C;
  }

  .fitness-slider .fitness-slider__description {
    margin-top: 18px;
  }

  .footer .footer__item-wrapper {
    padding-left: 18%;
  }

  .footer .footer__item-wrapper .footer__item {
    width: 40%;
  }

  .footer .footer__item-wrapper .footer__item-contact > div:first-child {
    margin-bottom: 25px;
  }

  .footer .copiright {
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .footer .copiright .language {
    margin-left: 0;
  }

  .footer .copiright .artjoker {
    width: 292px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  header .menu__button {
    display: block;
    margin: 44px 20px;
  }

  header .menu {
    display: none;
  }

  header .header__logo {
    top: 12px;
    left: 119px;
  }

  header .icons {
    top: 41px;
    width: 168px;
    right: 0px;
  }

  .main-slider .main-slider__body .slick-prev:before {
    display: none;
  }

  .main-slider .main-slider__body .slick-prev {
    left: 71%;
  }

  .main-slider .main-slider__text-icons {
    top: -32px;
  }

  .main-slider .main-slider__text-icons div {
    margin-bottom: 8px;
  }

  .main-slider .main-slider__text-icons div img {
    width: 20px;
  }

  .main-slider .main-slider__text-icons div .youtube img {
    width: 20px;
  }

  .instagram .instagram-wrapper {
    width: 100%;
  }

  .instagram .instagram-wrapper .instagram__body {
    display: block;
  }

  .instagram .instagram-wrapper .instagram__body .instagram__body-item {
    text-align: center;
  }

  .instagram .instagram-wrapper .instagram__body img {
    width: 98%;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: calc(100% - 20px);
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info {
    min-width: none;
    width: 98%;
    margin: 0 auto;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-circle {
    height: 100px;
    width: 100px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-circle img {
    left: 18px;
    width: 65%;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-name {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-button {
    width: 249px;
  }

  .blog .body-wrapper .blog__body {
    width: 800px;
  }

  .question .wrapper {
    margin-left: 0;
  }

  .question .wrapper img {
    display: none;
  }

  .question .wrapper .question__form {
    position: static;
    margin: 0 auto;
    padding: 10% 6%;
    width: 85%;
  }

  .question .wrapper .question__form:after {
    display: none;
  }

  .fitness-slider .fitness-slider__header:after {
    width: 112px;
  }

  .fitness-slider .slick-prev {
    left: 64%;
  }

  .footer .copiright {
    width: 90%;
  }
}

@media (max-width: 490px) {
  header .header__logo {
    left: 105px;
  }

  header .header__logo img {
    width: 70px;
  }

  header .menu__button {
    margin: 34px 20px;
  }

  header .icons {
    top: 34px;
  }

  header .icons a {
    margin-left: 8px;
    font-size: 18px;
  }

  header .icons .heart:after {
    left: 12px;
  }

  header .icons .heart span {
    left: 14px;
  }

  .main-slider .main-slider__body .slick-dots {
    display: none;
  }

  .main-slider .main-slider__text .main-slider__text-header {
    font-size: 18px;
  }

  .main-slider .main-slider__text .main-slider__text-description {
    font-size: 12px;
  }

  .main-slider .main-slider__body .slick-next {
    left: 81%;
  }

  .fitness-slider {
    margin-bottom: 37px;
  }

  .fitness-slider .fitness-slider__header {
    margin-top: 22px;
    margin-bottom: 24px;
    font-size: 14px;
    margin-left: 18px;
  }

  .fitness-slider .fitness-slider__header:after {
    top: 11px;
    left: 153px;
  }

  .fitness-slider .fitness-slider__show .slick-prev {
    left: 38%;
  }

  .fitness-slider .fitness-slider__description {
    padding-left: 10px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-button {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 255px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-header {
    font-size: 26px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-text {
    font-size: 14px;
  }

  .blog {
    padding-top: 39px;
  }

  .blog .blog__header {
    display: block;
    margin-bottom: 20px;
  }

  .blog .blog__header .blog__header-button {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 180px;
    margin: 0 auto;
  }

  .blog .blog__header-title {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .blog .blog__header-title:after {
    display: block;
    width: 29%;
    top: 11px;
    left: 203px;
  }

  .blog .body-wrapper .blog__body-wrapper {
    position: static;
    margin-left: -9px;
    width: 100%;
  }

  .blog .body-wrapper .blog__body-wrapper .blog__body {
    width: 100%;
  }

  .blog .body-wrapper .blog__body-wrapper .blog__body .blog__body-item-wrapper {
    width: 100%;
  }

  .blog .body-wrapper .blog__body-wrapper .blog__body .blog__body-item-wrapper img {
    width: 100%;
  }

  .question .wrapper {
    padding-left: 10px;
  }

  .question .question__form p {
    font-size: 14px;
  }

  .question .question__form .question__form-header {
    font-size: 20px;
  }

  .question .question__form input {
    height: 28px;
  }

  .question .question__form button:after {
    display: none;
  }

  .question .question__form button {
    width: 151px;
    padding-top: 15px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info {
    padding-top: 46px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-circle {
    height: 70px;
    width: 70px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-circle img {
    left: 13px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-name {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-button {
    width: 176px;
  }

  .instagram .instagram-wrapper .instagram__body-item:last-child .instagram__body-info .instagram__body-info-button a {
    font-size: 12px;
  }

  .footer {
    padding-top: 54px;
  }

  .footer .footer__item-wrapper {
    display: block;
    padding-left: 0;
  }

  .footer .footer__item-wrapper .footer__item {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
  }

  .footer .footer__item-wrapper .footer__item .footer__item-header {
    font-size: 26px;
    line-height: 140%;
  }

  .footer .footer__item-wrapper .footer__item a {
    font-size: 18px;
    line-height: 112%;
  }

  .footer .footer__item-wrapper .footer__item p {
    margin-bottom: 0;
    font-size: 14px;
  }

  .footer .footer__item-wrapper .footer__item-logo {
    margin-left: 20px;
    margin-bottom: 71px;
    width: 40%;
  }

  .footer .footer__item-wrapper .footer__item-logo .footer__button {
    display: block;
    width: 72px;
    position: absolute;
    top: 16%;
    left: 131%;
    height: 58%;
  }

  .footer .footer__item-wrapper .footer__item-logo .item-logo-icons {
    position: absolute;
    top: 83%;
    left: 56%;
    width: 201px;
  }

  .footer .footer__item-wrapper .footer__item-nav {
    display: none;
  }

  .footer .footer__item-wrapper .footer__item-nav li {
    border: 1px #40474E solid;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer .footer__item-wrapper .footer__item-nav li a {
    text-transform: uppercase;
  }

  .footer .footer__item-wrapper .footer__item-nav li:hover a {
    color: #AA182C;
  }

  .footer .footer__item-wrapper .footer-menu__open {
    display: block;
  }

  .footer .footer__item-wrapper .footer__item-button > div {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    padding-left: 0;
    -moz-text-align-last: center;
    text-align-last: center;
    margin-bottom: 20px;
  }

  .footer .footer__item-wrapper .footer__item-button > div a {
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  header .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 109px;
    top: 10px;
  }

  header .icons div {
    margin-left: 0px;
    margin-right: 10px;
  }

  .main-slider .main-slider__text .main-slider__text-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-slider .main-slider__text .main-slider__text-icons img {
    width: 14px;
  }

  .main-slider .main-slider__text .main-slider__text-icons .youtube img {
    width: 14px;
  }

  .main-slider .main-slider__text .main-slider__text-icons div {
    margin-left: 5px;
  }

  .main-slider .main-slider__text .main-slider__text-header {
    font-size: 12px;
  }

  .main-slider .main-slider__text .main-slider__text-header {
    font-size: 10px;
  }

  .main-slider .main-slider__body .slick-next:after,
  .main-slider .main-slider__body .slick-prev:after {
    font-size: 8px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-button {
    width: 86%;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-header {
    font-size: 18px;
  }

  .fitness-slider .fitness-slider__description .fitness-slider__description-text {
    font-size: 12px;
  }

  .footer .copiright .artjoker {
    font-size: 12px;
    width: 257px;
  }
}